# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.venv/

# Run outputs
checkpoints/
latents/
outputs/
wandb/

wandb_dump/
WANDB.py
wandb*/

*.pdf


*.ipynb




